<nz-spin [nzSpinning]="isSpinning" nzTip="加载中...">
    <nz-layout class="layout">
        <nz-header class="home-header">
            <div class="home-logo"></div>
            <div class="home-title">
                <h1>亲亿家产品管理</h1>
            </div>
            <div class="home-opt">
                欢迎您：<a>{{userInfo.userName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="logout()">退出</a>
            </div>
        </nz-header>
        <nz-layout>
            <nz-sider [nzWidth]="200" style="background:#fff">
                <ul nz-menu [nzMode]="'inline'" style="height:100%">
                    <view-left-menu [menuTree]="menuTree" (onItemClickEvent)="newTab($event)"></view-left-menu>
                </ul>
            </nz-sider>
            <nz-layout style="padding:0 5px 5px">
                <nz-content style="background:#fff; padding: 5px; min-height: 280px;">
                    <nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="selectedIndex">
                        <nz-tab *ngFor="let tab of tabs; let i = index" [nzTitle]="titleTemplate" [nzForceRender]="false">
                            <ng-template #titleTemplate>
                                <div>
                                    {{ tab.title }}
                                    <i nz-icon *ngIf="i != 0" type="close" (click)="closeTab(tab.title)"
                                       class="ant-tabs-close-x"></i>
                                </div>
                            </ng-template>

                            <view-content-index *ngIf="tab.title == '首页'"></view-content-index>
                            <view-content-tab *ngIf="tab.title != '首页'" [modulePath]="menuMap.get(tab.title)"></view-content-tab>
                        </nz-tab>
                    </nz-tabset>
                </nz-content>
            </nz-layout>
        </nz-layout>
    </nz-layout>
</nz-spin>
