<nz-spin [nzSpinning]="isSpinning" nzTip="加载中...">
    <nz-layout>
        <nz-header>
            <button nz-button (click)="addNodeClick()">新增子节点</button>
            <button nz-button (click)="delNodeClick()">删除节点</button>
        </nz-header>
        <nz-layout>
            <nz-sider>
                <nz-tree #menuTree
                        [nzData]="nodes"
                        nzShowLine="true"
                        (nzClick)="nodeClick($event)"
                        nzExpandAll="true">
                </nz-tree>
            </nz-sider>
            <nz-content *ngIf="isEditFormShow">
                <label class="container-title">{{editFormTitle}}</label>
                <form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">节点名称</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input formControlName="name" id="name">
                            <nz-form-explain *ngIf="editForm.get('name').dirty && editForm.get('name').errors">
                                请输入节点名称！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="menuCode" nzRequired>节点编码</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="menuCode" formControlName="menuCode">
                            <nz-form-explain *ngIf="editForm.get('menuCode').dirty && editForm.get('menuCode').errors">
                                请输入节点编码！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="menuType" nzRequired>节点类型
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <nz-select formControlName="menuType">
                                <nz-option nzLabel="菜单" nzValue="MENU"></nz-option>
                                <nz-option nzLabel="功能" nzValue="FUN"></nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="editForm.get('menuType').dirty && editForm.get('menuType').errors">
                                请选择节点类型！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>节点路径</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="url" formControlName="url">
                            <nz-form-explain *ngIf="editForm.get('url').dirty && editForm.get('url').errors">
                                请输入节点编码！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row style="margin-bottom:8px;">
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>是否启用</nz-form-label>
                        <!--<nz-form-control [nzSpan]="14" [nzOffset]="6">-->
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <!--<label nz-checkbox formControlName="status">-->
                                <!--<span>是否禁用</span>-->
                            <!--</label>-->
                            <nz-radio-group formControlName="status">
                                <label nz-radio nzValue="enable">是</label>
                                <label nz-radio nzValue="disable">否</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">说明</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="remark" formControlName="remark">
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row style="margin-bottom:8px;">
                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <button nz-button nzType="primary">保存</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-spin>

<nz-modal [(nzVisible)]="isConfirmVisible" nzTitle="提示" (nzOnCancel)="confirmHandleCancel()" (nzOnOk)="confirmHandleOk()">
    <p>确认删除节点[{{deleteNodeTitle}}]？</p>
</nz-modal>
