<nz-spin [nzSpinning]="isSpinning" nzTip="加载中...">
<form nz-form [formGroup]="queryForm" nzLayout="inline" class="ant-advanced-search-form">
    <nz-form-item style="margin: auto;">
        <nz-form-label nzFor="userName">买家名称</nz-form-label>
        <nz-form-control>
            <input nz-input placeholder="买家名称" formControlName="userName">
        </nz-form-control>

        <nz-form-label nzFor="productTitle">产品名称</nz-form-label>
        <nz-form-control>
            <input nz-input placeholder="产品名称" formControlName="productTitle">
        </nz-form-control>

        <br/>

        <nz-form-item style="margin: auto;">
            <nz-form-label nzFor="orderTimeBegin">购买开始时间</nz-form-label>
            <nz-form-control>
                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="购买开始时间"
                                formControlName="orderTimeBegin" [nzStyle]="{width: '165px'}"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item style="margin: auto;">
            <nz-form-label nzFor="orderTimeEnd">购买结束时间</nz-form-label>
            <nz-form-control>
                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="购买结束时间"
                                formControlName="orderTimeEnd" [nzStyle]="{width: '165px'}"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <div class="queryFormBtn">
            <button nz-button (click)="query()">查询</button>
            <button nz-button (click)="resetForm()">清除</button>
            <button nz-button (click)="export()">导出</button>
        </div>
    </nz-form-item>
</form>

<nz-table #ajaxTable
          nzBordered="true"
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="table.dataSet"
          [nzLoading]="table.loading"
          [nzTotal]="table.total"
          [(nzPageIndex)]="table.pageIndex"
          [(nzPageSize)]="table.pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)"
          [nzScroll]="{ x:'300px',y:'500px'}">
    <thead>
    <tr>
        <th nzWidth="45px">序号</th>
        <th nzWidth="150px">买家名称</th>
        <th nzWidth="200px">产品名称</th>
        <th class="text-center" nzWidth="80px">类型</th>
        <th class="text-right" nzWidth="85px">销售价格</th>
        <th class="text-right" nzWidth="85px">销售数量</th>
        <th class="text-center" nzWidth="80px">单位</th>
        <th class="text-right" nzWidth="85px">进货价格</th>
        <th class="text-right" nzWidth="85px">利润</th>
        <th class="text-center" nzWidth="165px">销售时间</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTable.data; index as i">
        <td class="text-center">{{i + 1}}</td>
        <td>{{data.userName ? data.userName : '其他'}}</td>
        <td>{{data.productTitle}}</td>
        <td class="text-center">{{data.productType | productType}}</td>
        <td class="text-right">{{data.price | currency:'￥'}}</td>
        <td class="text-right">{{data.number}}</td>
        <td class="text-center">{{data.productUnit}}</td>
        <td class="text-right">{{data.stockPrice | currency:'￥'}}</td>
        <td class="text-right">{{data.price == 0 ? 0 : (data.price-data.stockPrice)*data.number | currency:'￥'}}</td>
        <td class="text-center">{{data.orderTime | date:"yyyy-MM-dd"}}</td>
        <td></td>
    </tr>
    </tbody>
</nz-table>

</nz-spin>
