<nz-spin [nzSpinning]="isSpinning" nzTip="加载中...">
    <nz-layout>
        <nz-header>
            <button nz-button (click)="showAddForm()">新增角色</button>
        </nz-header>
        <nz-content>
            <nz-table #roleTable
                      nzBordered="true"
                      [nzFrontPagination]="false"
                      nzShowSizeChanger="true"
                      [nzData]="table.dataSet"
                      [nzLoading]="table.loading"
                      [nzTotal]="table.total"
                      [(nzPageIndex)]="table.pageIndex"
                      [(nzPageSize)]="table.pageSize"
                      [nzScroll]="{ x:'300px',y:'500px'}"
                      (nzPageIndexChange)="loadRoles()"
                      (nzPageSizeChange)="loadRoles(true)">
                <thead>
                <tr>
                    <th nzWidth="65px">序号</th>
                    <th nzWidth="100px">角色编码</th>
                    <th nzWidth="120px">角色名称</th>
                    <th nzWidth="350px">角色说明</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of roleTable.data; index as i">
                    <td class="text-center">{{i + 1}}</td>
                    <td>{{data.roleCode}}</td>
                    <td>{{data.roleName}}</td>
                    <td>{{data.remark}}</td>
                    <td>
                        <a href="javascript:void(0);" (click)="showEditForm(data)">修改</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a href="javascript:void(0);" (click)="delRole(data)">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-content>
    </nz-layout>

    <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
               [nzMaskClosable]="false" [nzWidth]="720"
               [nzVisible]="drawer.visible" [nzTitle]="drawer.title"
               (nzOnClose)="closeRoleForm()">
        <form nz-form [formGroup]="roleForm">
            <input nz-input formControlName="id" type="hidden">
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzFor="roleCode" nzRequired>角色编码</nz-form-label>
                        <nz-form-control>
                            <nz-input-group>
                                <input nz-input formControlName="roleCode" placeholder="请输入角色编码">
                            </nz-input-group>
                            <nz-form-explain *ngIf="roleForm.get('roleCode').dirty && roleForm.get('roleCode').errors">
                                请输入产品单位！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzFor="roleName" nzRequired>角色名称</nz-form-label>
                        <nz-form-control>
                            <nz-input-group>
                                <input nz-input formControlName="roleName" placeholder="请输入角色名称">
                            </nz-input-group>
                            <nz-form-explain *ngIf="roleForm.get('roleName').dirty && roleForm.get('roleName').errors">
                                请输入产品单位！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzFor="remark">角色说明</nz-form-label>
                        <nz-form-control>
                            <nz-input-group>
                                <textarea nz-input formControlName="remark" placeholder="请输入角色说明"
                                          [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                            </nz-input-group>
                            <nz-form-explain *ngIf="roleForm.get('remark').dirty && roleForm.get('remark').errors">
                                请输入产品单位！
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
        <div class="container-tree">
            <nz-tree #menuTree
                    [nzData]="tree.nodes"
                    nzCheckable="true"
                    nzMultiple="true"
                    nzExpandAll="true"
                    [nzCheckedKeys]="tree.defaultCheckedKeys"
                    [nzExpandedKeys]="tree.defaultExpandedKeys"
                    [nzSelectedKeys]="tree.defaultSelectedKeys">
            </nz-tree>
        </div>
        <div class="footer">
            <button type="button" (click)="closeRoleForm()" class="ant-btn" style="margin-right: 8px;">
                <span>取消</span>
            </button>
            <button type="button" (click)="saveRole()" class="ant-btn ant-btn-primary"><span>保存</span></button>
        </div>
    </nz-drawer>
</nz-spin>

<nz-modal [(nzVisible)]="confirmModel.isVisible" nzTitle="提示" (nzOnCancel)="confirmHandleCancel()" (nzOnOk)="confirmHandleOk()">
    <p>确认删除角色[{{confirmModel.content}}]？</p>
</nz-modal>
